.breadcrumb {
	padding: 10px 15px 30px;
	white-space: nowrap;
	overflow-y: auto;

	@include desktop {
		padding-top: 50px;
	}

	@include desktop-xl {
		padding-left: 30px;
		padding-right: 30px;
	}

	&__list {
		display: flex;
		font-size: 12px;
		line-height: 15px;
		font-weight: 500;
	}

	&__item {
		&:not(:last-child) {
			&::after {
				display: inline-block;
				font-family: $font-secondary;
				margin: 0 10px;
				content: "—";
			}
		}
	}

	&__link {
	}

	&__current {
		margin-right: 15px;
	}
}
