.center-card {
	@include main-shadow;
	padding: 20px 30px 30px;
	border-radius: 6px;

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
		margin-bottom: 14px;
	}

	&__img-box {
		aspect-ratio: 4;
	}

	&__img {
		display: block;
		width: 100%;
	}

	&__rating {
	}

	&__title {
		margin-bottom: 16px;
		font-size: 18px;
		line-height: 22px;
		font-weight: 700;
	}

	&__data-list {
		display: grid;
		grid-template: auto / repeAT(2, minmax(0,1fr));
		grid-gap: 10px 20px;
		margin-bottom: 16px;
	}

	&__data__row {
		display: flex;
		gap: 10px;

		&--underline {
			text-decoration: underline;
		}

		&:last-child {
			grid-column: 1/3;
		}
	}

	&__data-icon {
		flex-shrink: 0;
		display: block;
		width: 20px;
		height: 20px;
	}

	&__data-text {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__button-box {
		display: flex;
		gap: 20px;
	}

	&__btn {
		flex-grow: 1;
	}
}
