.center-block {
	@include main-shadow;
	padding: 20px 30px 30px;
	border-radius: 10px;

	&__logo {
		display: block;
		width: 100%;
		margin-bottom: 20px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin-bottom: 20px;
	}

	&__el {
		margin-bottom: 2px;
		font-size: 16px;
		line-height: 20px;
		color: #A6A6A6;
	}

	&__value {
		display: block;
		font-size: 18px;
		line-height: 22px;
		color: #333;
	}

	&__counter {
		margin-bottom: 10px;
		font-size: 16px;
		line-height: 20px;
		strong {
			font-weight: 700;
		}
	}

	&__rating {
		margin-bottom: 31px;
	}

	&__btn-group {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}
