.footer {
	&__nav-box {
		padding-top: 30px;
		padding-bottom: 30px;
		background-color: #333;
		color: #fff;

		@include tablet {
			padding-bottom: 86px;
		}
	}

	&__nav-container {
		display: flex;
		flex-direction: column;
		gap: 20px;

		@include desktop {
			gap: 50px;
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__nav-group {
		display: flex;
		flex-direction: column;
		gap: 12px;

		@include tablet {
			display: grid;
			grid-template: auto / repeat(3, minmax(0, 250px));
			grid-gap: 50px;
		}
	}

	&__text-box {
		@include tablet {
			display: flex;
			gap: 20px;
		}

		@include desktop {
			display: block;
			max-width: 315px;
		}
	}

	&__logo-box {
		flex-shrink: 0;
		display: inline-block;
		margin-bottom: 12px;
		max-width: 170px;

		@include desktop {
			margin-bottom: 22px;
		}

		@include desktop-xl {
			max-width: unset;
		}
	}

	&__logo {
		display: block;
	}

	&__text {
		margin-bottom: 5px;
		font-size: 11px;
		line-height: 13px;
		color: #8D8D8D;

		@include desktop {
			margin-bottom: 20px;
		}
	}

	&__nav-title {
		display: flex;
		gap: 10px;
		font-size: 16px;
		line-height: 20px;
		font-weight: 700;

		@include desktop {
			margin-bottom: 12px;
		}
	}

	&__nav-title-icon {
		display: block;
		width: 20px;
		height: 20px;
		transition: transform $transition-default;

		.footer__nav-col--expanded & {
			transform: rotate(-180deg);
		}

		@include tablet {
			display: none;
		}
	}

	&__nav-list {
		display: none;
		flex-direction: column;
		gap: 2px;

		.footer__nav-col--expanded & {
			display: block;
		}

		@include tablet {
			display: flex;
		}
	}

	&__nav-el {
	}

	&__nav-link {
		font-size: 14px;
		line-height: 17px;
		color: #BFBFBF;
		transition: color $transition-default;

		&:hover {
			color: #fff;
		}
	}

	&__bottom {
		padding-top: 12px;
		padding-bottom: 24px;
		background-color: #262626;
	}

	&__bottom-nav-box {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-bottom: 10px;

		@include tablet {
			flex-direction: row;
			justify-content: space-between;
			gap: 50px;
		}
	}

	&__bottom-nav {
		display: flex;
		flex-direction: column;
		gap: 10px;


		@include tablet {
			flex-direction: row;
			gap: 30px;
		}
	}

	&__bottom-nav-el {
	}

	&__bottom-nav-link {
		font-size: 11px;
		line-height: 13px;
		font-weight: 500;
		color: #fff;

		&:hover {
			text-decoration: underline;
		}
	}

	&__copyright {
		font-size: 11px;
		line-height: 13px;
		color: #8D8D8D;
	}
}
