.input {
	display: block;
	padding: 11px 20px;
	min-width: 0;
	font-size: 16px;
	line-height: 20px;
	border: 1px solid #D1D1D1;
	border-radius: 6px;
	transition: border-color $transition-default;

	&:hover {
		border-color: #777;
	}

	&:focus {
		border-color: #333;
		outline: none;
	}

	&::placeholder {
		color: #9D9D9D;
		opacity: 1;
	}
}
