.review-form {
	padding-top: 42px;
	padding-bottom: 40px;
	background-color: #E7EDF7;

	&__box {
		width: 100%;
		max-width: 820px;
	}

	&__title {
		margin-bottom: 14px;
	}

	&__description {
		margin-bottom: 30px;
		font-size: 16px;
		line-height: 20px;
	}

	&__description-link {
		color: #3D4C8D;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__row {
		display: grid;
		grid-template: auto / repeat(2, minmax(0,1fr));
		grid-gap: 18px;
	}

	&__agree {
	}

	&__btn {
		align-self: flex-start;
	}
}
