.section-top-products {
	padding-top: 24px;
	padding-bottom: 24px;

	@include desktop {
		padding-top: 50px;
		padding-bottom: 50px;}

	&__title {
	}

	&__grid {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
}
