.section-digits {
	padding-top: 50px;
	padding-bottom: 50px;

	&__title {
		margin-bottom: 24px;
	}

	&__grid {
		display: grid;
		grid-template: auto / repeat(4, minmax(0,1fr));
		grid-gap: 20px;
	}

	&__card {
		@include main-shadow;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		gap: 20px;
		padding: 20px 20px 20px 30px;
		border-radius: 6px;
	}

	&__icon-box {
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 62px;
		height: 62px;
		border-radius: 50px;

		&--green {
			background-color: #E7F7EC;
			color: #00867A;
		}

		&--violet {
			background-color: #E7E7F7;
			color: #001684;
		}

		&--blue {
			background-color: #E7EDF7;
			color: #003584;
		}

		&--red {
			background-color: #F7E7E7;
			color: #860000;
		}
	}

	&__icon {
		display: block;
		width: 36px;
		height: 36px;
	}

	&__card-text {
		max-width: 170px;
		font-size: 14px;
		line-height: 17px;
		color: #6C6C6C;
	}

	&__card-value {
		display: block;
		margin-bottom: 4px;
		font-size: 20px;
		line-height: 24px;
		font-weight: 700;
		color: #333;
	}
}
