.section-top-webinars {
	padding-top: 24px;
	padding-bottom: 24px;

	@include desktop {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	&__title {
	}

	&__grid {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-bottom: 30px;

		@include tablet {
			display: grid;
			grid-template: auto / repeat(2, minmax(0,1fr));
			grid-gap: 20px;
		}

		@include desktop {
			grid-template: auto / repeat(3, minmax(0,1fr));
		}
	}

	&__button-box {
		display: flex;
		justify-content: center;
	}

	&__button {
		width: 100%;

		@include desktop {
			width: auto;
		}
	}
}
