.webinar-card {
	@include main-shadow;
	display: flex;
	flex-direction: column;
	padding: 15px;
	border-radius: 6px;

	@include desktop {
		padding: 20px 30px 30px;
	}

	&__img-box {
		aspect-ratio: 3.67;
		margin-bottom: 10px;
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__title {
		margin-bottom: 16px;
		font-size: 16px;
		line-height: 20px;
		font-weight: 700;

		@include desktop {
			margin-bottom: 20px;
		}
	}

	&__rating-box {
		display: flex;
		flex-direction: column;
		gap: 16px;
		margin-top: auto;
		margin-bottom: 20px;

		@include desktop-xl {
			flex-direction: row;
			gap: 20px;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__logo {
		display: block;
		width: 100%;
		max-width: 180px;
	}

	&__rating {
		flex-direction: row;
		gap: 10px;
		align-items: flex-start;

		@include desktop-xl {
			flex-direction: column;
			gap: 0;
		}
	}

	&__btn {
		width: 100%;
	}
}
