//- USAGE
//- +breadcrumb(['Main page', 'News'], 'News detail')
//- +breadcrumb(['Main page'])

mixin breadcrumb(items, last)
	// Breadcrumbs
	.container.breadcrumb&attributes(attributes)
		ul.breadcrumb__list
			each item in items
				li.breadcrumb__item
					// if breadcrumb is single
					if (items.length === 0)
						span.breadcrumb__link= item
					else
						a(href="#" title=item).breadcrumb__link= item

			if last
				li.breadcrumb__item
					span.breadcrumb__current= last
			else
