mixin footer()
	// Footer
	footer.footer
		.footer__nav-box
			.container.footer__nav-container
				.footer__text-box
					a.footer__logo-box(href="./main.html")
						img.footer__logo(src="images/common/logo-white.svg", alt)
					.footer__text-wrap
						p.footer__text Информация о курсах и обучающих программах не является офертой, носит ознакомительный характер. Точные условия размещены на официальных сайтах школ, авторов курсов и учебных заведений.
						p.footer__text Сайт использует файлы cookie для повышения удобства пользователей и улучшения работы сайта.
				.footer__nav-group
					.footer__nav-col
						p.footer__nav-title Направления обучения
							+svg("arrow-down").footer__nav-title-icon
						ul.footer__nav-list
							li.footer__nav-el
								a.footer__nav-link(href="#") Безопасность и охрана труда
							li.footer__nav-el
								a.footer__nav-link(href="#") Строительство и проектирование
							li.footer__nav-el
								a.footer__nav-link(href="#") Энергетика и экология
							li.footer__nav-el
								a.footer__nav-link(href="#") Транспорт и логистика
							li.footer__nav-el
								a.footer__nav-link(href="#") Технические направления
							li.footer__nav-el
								a.footer__nav-link(href="#") Управление и менеджмент
					.footer__nav-col
						p.footer__nav-title Услуги
							+svg("arrow-down").footer__nav-title-icon
						ul.footer__nav-list
							li.footer__nav-el
								a.footer__nav-link(href="#") СОУТ
							li.footer__nav-el
								a.footer__nav-link(href="#") Организация системы охраны труда
							li.footer__nav-el
								a.footer__nav-link(href="#") Аудит и консалтинг в области охраны труда
							li.footer__nav-el
								a.footer__nav-link(href="#") Пожарная безопасность
							li.footer__nav-el
								a.footer__nav-link(href="#") Экологическая безопасность
							li.footer__nav-el
								a.footer__nav-link(href="#") Медицинские осмотры
							li.footer__nav-el
								a.footer__nav-link(href="#") Защита персональных данных
							li.footer__nav-el
								a.footer__nav-link(href="#") Охрана труда в смежных сферах
							li.footer__nav-el
								a.footer__nav-link(href="#") Лицензирование и сертификация
					.footer__nav-col
						p.footer__nav-title Дополнительно
							+svg("arrow-down").footer__nav-title-icon
						ul.footer__nav-list
							li.footer__nav-el
								a.footer__nav-link(href="#") Рекомендуемые курсы
							li.footer__nav-el
								a.footer__nav-link(href="#") Учебные центры
							li.footer__nav-el
								a.footer__nav-link(href="#") Промокоды и акции
							li.footer__nav-el
								a.footer__nav-link(href="#") Контакты
							li.footer__nav-el
								a.footer__nav-link(href="#") Парнёрам
		.footer__bottom
			.container
				.footer__bottom-nav-box
					ul.footer__bottom-nav
						li.footer__bottom-nav-el
							a.footer__bottom-nav-link(href="#") Контакты
						li.footer__bottom-nav-el
							a.footer__bottom-nav-link(href="#") Партнёрам
					ul.footer__bottom-nav
						li.footer__bottom-nav-el
							a.footer__bottom-nav-link(href="#") Политика конфиденциальности
						li.footer__bottom-nav-el
							a.footer__bottom-nav-link(href="#") Пользовательское соглашение
				p.footer__copyright © 2025 dpo.ohranatruda.ru — При использовании материалов гиперссылка на dpo.ohranatruda.ru обязательна.


