include mixins/svg
include mixins/picture

include common-blocks/header
include common-blocks/footer
include common-blocks/breadcrumb
include mixins/menu-courses
include mixins/menu-services
include mixins/filter-cources
include mixins/filter-centers
include mixins/filter-services
include mixins/rating
include mixins/product-card
include mixins/webinar-card
include mixins/service-card
include mixins/promo-card
include mixins/center-card
include mixins/review-card
include mixins/center-block
include mixins/review-form
include mixins/modal-promo
