.container {
	width: 100%;
	max-width: 1380px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;

	@include desktop-xl() {
		padding-left: 30px;
		padding-right: 30px;
	}
}
