html
	head
		title Список страниц
		style.
			body {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				min-height: 100vh;
				background-color: #3D4B88;
			}
			ol {
				font-family: sans-serif;
				font-size: 24px;
				color: #fff;
			}
			li {
				margin-bottom: 10px;
			}
			a {
				color: inherit;
				text-decoration: none;
				transition: opacity;
			}
			a:hover {
				opacity: .7;
			}
body
		ol
			li
				a(href="main.html" target="_blank") Главная +
			li
				a(href="catalog-courses.html" target="_blank") Каталог курсы +
			li
				a(href="catalog-centers.html" target="_blank") Каталог УЦ +
			li
				a(href="center.html" target="_blank") Страница УЦ
			li
				a(href="catalog-services.html" target="_blank") Каталог услуги +
			li
				a(href="catalog-webinars.html" target="_blank") Каталог вебинары +
			li
				a(href="catalog-promocodes.html" target="_blank") Каталог промокоды +
			li
				a(href="compare.html" target="_blank") Сравнение
